<!-- templates/components/breadcrumb.html -->
{% macro render(items) %}
<!-- パンくず（任意） -->
<!-- <nav class="flex items-center gap-2 text-slate-400 text-xs mb-2">
                <span class="hover:text-primary cursor-pointer">〇〇一覧</span>
                <span class="material-symbols-outlined text-[14px]">chevron_right</span>
                <span class="text-primary font-medium">〇〇詳細</span>
            </nav> -->
<nav class="flex items-center gap-2 text-slate-400 text-xs mb-2">
    <a href="{{ url_for('dashboard.index') }}" class="hover:text-primary cursor-pointer">Home</a>

    {% for item in items %}
    <span class="material-symbols-outlined text-[14px]">chevron_right</span>

    {% if item.url %}
    <a href="{{ item.url }}" class="hover:text-primary">
        {{ item.label }}
    </a>
    {% else %}
    <span class="text-primary font-bold">{{ item.label }}</span>
    {% endif %}
    {% endfor %}
</nav>
{% endmacro %}