/* static/base/layout.css */
/* サイドバー、ヘッダー、全体構造 */

.app {
    display: flex;
}

.sidebar {
    width: 240px;
    height: 100vh;
}

.main {
    flex: 1;
    padding: var(--container-padding);
}

.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
}