/* 共通のCSS */

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 14px;
    color: var(--text-main);
}

h1 {
    font-family: "Noto Serif";
    font-size: 22px;
    font-weight: 600;
}

h2 {
    font-family: "Noto Serif";
    font-size: 18px;
    font-weight: 600;
}

.label-sm {
    font-size: 12px;
    font-weight: 500;
}